/* Error: Expected identifier.
 *    ,
 * 44 |     box-sizing: border-box
 *    |                ^
 *    '
 *   frontend\src\assets\sass\profilList.sass 44:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 44 \2502      box-sizing: border-box\d\a    \2502                 ^\a    \2575 \a   frontend\\src\\assets\\sass\\profilList.sass 44:16  root stylesheet";
}
