/** Module Cards **/
.module-cards {
  display: flex;
  justify-content: space-around;
}

.module-card {
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.module-card:hover {
  transform: translateY(-5px);
  
}
